# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/.idea
/src1
/src2
/src3
/src4
/src5
/src6
/src7
/src8
/src9
/react中的key1.html
/react中的key21.html
/README.md
/sds.html
/静态页面(不属于脚手架结构)

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
